
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');



    @media screen and (max-width: 750px){
    #kmatual,#kmdia,#oleo{
        width: 100%;
    }
 
    .img{
        width: 20%;
      }
     
  }
   

html{
    background-color: #333f47;
}

.img{
    width: 15%;
  
}
.menu{
    cursor: pointer;
}

h1,h2 {
    font-family: 'Fira Sans', sans-serif;
    color: aliceblue;

}
#kmatual,#kmdia,#oleo{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    width: 80%;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;


}
button{
    width: 50%;
    height: auto;
    padding: 10px 0px;
    background-color:aliceblue;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
    cursor: pointer;
    box-shadow: -3px 4px 0 #888,-7px 7px 0 #333;
}
button:active::after{
    background-color: #fe6543;
    color: beige;
}

label{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    color: aliceblue;
    
}
table{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    color: aliceblue;
    border: #fe6543;
}
